<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinx.demo.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.jinx.demo.model.entity.Order">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="orderId" column="orderId" jdbcType="VARCHAR"/>
            <result property="goodsId" column="goodsId" jdbcType="BIGINT"/>
            <result property="number" column="number" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,orderId,goodsId,
        number
    </sql>
</mapper>
